
// store the passId on the client side in a hidden input field //
input(type='hidden', value= pid)#pid

include modals/reset-password

script(src='http://code.jquery.com/jquery-2.0.0.min.js')
script(src='/js/jquery.form.js')
script(src='/thirdparty/Bootstrap/js/bootstrap.min.js')
script(src='/js/form-validators/resetValidator.js')
script(src='/js/views/reset.js')