doctype html
html
  head
    script(type='text/javascript', charset='utf-8', src='http://code.jquery.com/jquery-2.0.0.min.js')
    script(type='text/javascript', src='/js/hashUrl.js')
  body
    .container.text-center
      .span4.offset4
        Rediricting to login page