doctype html
html
  head
    title= title         
    link(rel='icon', href='/img/icon.png')
    link(rel='stylesheet', href='/thirdparty/Bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/thirdparty/Bootstrap/Themes/charisma/css/bootstrap-spacelab.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/Bootstrap/Themes/charisma/css/opa-icons.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='/css/snippetStyle.css')
    script(type='text/javascript', charset='utf-8', src='http://code.jquery.com/jquery-2.0.0.min.js')    
    script(type='text/javascript', src='thirdparty/uuid/uuid.js')
    script(type='text/javascript', src='/js/snippet.js')
  body
    block content