doctype 5
html
  head
    title= title         
    link(rel='icon', href='/img/icon.png')
    link(rel='stylesheet', href='/thirdparty/Bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/thirdparty/FlatUI/css/flat-ui.css')
    link(rel='stylesheet', href='/css/snippetStyle.css')
  body
    block content