extends layout

block content
  .main-container
    .row.login-container
      .logo.text-center
        img(src="../img/icon.png",alt="Logo")
        | Welcome to
        h3 JimboJS
      .login
        .text-center
          a.btn.btn-default.btn-login(href="/auth/github")
            i.fa.fa-lg.fa-github
            |&nbsp;Login with Github
      .arrow-left