extends layout

block content
  .container
    .span4.offset4(style="margin-top: 30%")
      h2 #{title}
      a.btn.btn-primary.btn(href='/auth/github')
        i.fa.fa-github
        |   Login with Github