html, body  
  width: 100%  
  height: 100%  
  padding-left: 0
  padding-right: 0
  -webkit-user-select: none
  -moz-user-select: none  
  background-image:url(../img/splash-bg.jpg) repeat

.span12
  padding: 20px
  background-image:url(../../img/cover.jpg)
  background-repeat: no-repeat
  background-size: cover
  -webkit-box-shadow: 0 0 15px 5px black
  -moz-box-shadow: 0 0 15px 5px black
  box-shadow: 0 0 15px 5px black

.box
  height: 100%

.libIcon
  height: 14px
  width: 14px
  display: inline-block
  
/*.btn-warning, .btn-warning:hover 
  color: #000*/

.notification
  position: absolute  
  top: -5px
  right: -10px  

.chatIcon
  float: left    
  bottom: 40px
  left: 5px  
  position: relative
  
.chatBox
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(69%,rgba(0,0,0,0.41)), color-stop(100%,rgba(0,0,0,0)))  
  border: 0
  height:200px
  bottom:205px
  position: relative
  z-index:5000
  display: none
    
.chatInput>input
  height:20px    
  border: 0
  outline: 0
  background: none
  width: 98%     

.chatInput>input:focus
  outline: 0 !important
  border: 0  

.chatBox>a.close
  margin-right:5px  
  
.chatMessages
  height: 165px
  
.inlet_slider
  width: 200px
  outline: none !important
  
.raphael
  background-image:url(../img/Raphael.png) no-repeat !important
  
a:hover
  text-decoration: none

.nav.nav-tabs
  margin-bottom:0px

.navbar
  border-bottom: none
  
.inlet_slider
  z-index: 200

.CodeMirror-remote-change
  width: 16px

.gutterIcon
  background-image: url("../img/userIcon.png")
  background-repeat: no-repeat
  background-position: center    
  outline: none      
  height: 16px
  width: 16px
  
.gutterIconUp
  position: absolute
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f0a3), color-stop(50%,#d2e638), color-stop(51%,#c3d825), color-stop(100%,#dbf043))
  border: 1px solid #248F24
  border-radius: 20px
  height: 20px
  width: 20px
  top: 20px
  right: 0px
  z-index: 2000
  display: none
      
.gutterIconDown
  position: absolute
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f0a3), color-stop(50%,#d2e638), color-stop(51%,#c3d825), color-stop(100%,#dbf043))
  border: 1px solid #248F24
  border-radius: 20px
  height: 20px
  width: 20px
  bottom: 0px
  right: 0px
  z-index: 2000
  display: none
  
.remoteChange-line
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8ffe8), color-stop(33%,#e3f5ab), color-stop(100%,#b7df2d))
  background: -webkit-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%)
  
iframe
  width: 100%
  height: 100%
  background: transparent
  border: none 
  
.nav>li
  width:70px
  text-align:center
  
img.icon
  height:24px
  width: 24px  
  
#previewArea
  position: relative    
  background-color: #fff
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1)
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1)
  
#editorArea
  position: relative    
  background-color: #fff
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1)
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1)

	
#previewArea:before, #previewArea:after  
  background: transparent
  -webkit-transform: skew(-5deg) rotate(-5deg)
  -moz-transform: skew(-5deg) rotate(-5deg)
  -ms-transform: skew(-5deg) rotate(-5deg)
  -o-transform: skew(-5deg) rotate(-5deg)
  transform: skew(-5deg) rotate(-5deg)
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3)
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3)
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3)
  z-index: -1

#previewArea:after
  -webkit-transform: skew(5deg) rotate(5deg)
  -moz-transform: skew(5deg) rotate(5deg)
  -ms-transform: skew(5deg) rotate(5deg)
  -o-transform: skew(5deg) rotate(5deg)
  transform: skew(5deg) rotate(5deg)

li.active>a
  background: transparent !important
  border: none !important
  color: #FFD119 !important

#mainView
  margin:100px auto
  width:100%
  text-align:center
  