!!! 5
html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title
      | Jimbo
    link(rel='icon', href='img/icon.png')
    link(rel='stylesheet', href='thirdparty/Bootstrap/css/bootstrap.min.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/Bootstrap/Themes/charisma/css/bootstrap-spacelab.css', type='text/css', media='screen', charset='utf-8')                
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/lib/codemirror.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/addon/hint/show-hint.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/addon/dialog/dialog.css', type='text/css', media='screen', charset='utf-8')    
    //link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/theme/brackets.css', type='text/css', media='screen', charset='utf-8')           
    link(rel='stylesheet', href='thirdparty/Bootstrap/addon/DataTable/DT_bootstrap.css', type='text/css', media='screen', charset='utf-8')    
    link(rel='stylesheet', href='css/snippetStyle.css', type='text/css', media='screen', charset='utf-8')         
    script(type='text/javascript', charset='utf-8', src='http://code.jquery.com/jquery-2.0.0.min.js')              
    script(type='text/javascript', charset='utf-8', src='thirdparty/Bootstrap/js/bootstrap.min.js')           
    script(type='text/javascript', charset='utf-8', src='http://documentcloud.github.com/underscore/underscore-min.js')           
  body(style='overflow: hidden;')
    .container-fluid
      .navbar
        .navbar-inner
          .container-fluid
      .row-fluid        
        .span12                          
          #previewArea.span6
          #editorArea.span6
            .tabbable
              ul.nav.nav-tabs                                  
                li(data-id='jsTab')
                  a(href='#', data-toggle='tab') JS                                                                
              #jsContent.tab-content
                textarea#jsEditor(disabled)
    script(type='text/javascript', charset='utf-8', src='http://nornagon.github.com/thistle/thistle.js')                              
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/lib/codemirror.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/Emmet/emmet.min.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/edit/closetag.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/edit/matchbrackets.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/hint/show-hint.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/hint/javascript-hint.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/hint/html-hint.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/dialog/dialog.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/search/searchcursor.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/search/search.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/edit/closebrackets.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/xml/xml.js')        
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/javascript/javascript.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/css/css.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/htmlmixed/htmlmixed.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/Noty/jquery.noty.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/Noty/layouts/top.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/Noty/layouts/bottomLeft.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/Noty/themes/default.js')    
    script(type='text/javascript', src='/channel/bcsocket.js')
    script(type='text/javascript', src='/share/share.js')    
    script(type='text/javascript', src='/share/cm.js')
    script(type='text/javascript', src='thirdparty/Bootstrap/addon/DataTable/jquery.dataTables.js')
    script(type='text/javascript', src='thirdparty/Bootstrap/addon/DataTable/DT_bootstrap.js')        
    script(type='text/javascript', src='thirdparty/uuid/uuid.js')
    script(type='text/javascript', src='js/snippetCode.js')    

