!!! 5
html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title
      | Jimbo
    link(rel='icon', href='img/icon.png')
    link(rel='stylesheet', href='thirdparty/Bootstrap/css/bootstrap.min.css', type='text/css', media='screen', charset='utf-8')            
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/lib/codemirror.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/addon/hint/show-hint.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/addon/dialog/dialog.css', type='text/css', media='screen', charset='utf-8')    
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/theme/brackets.css', type='text/css', media='screen', charset='utf-8')           
    link(rel='stylesheet', href='thirdparty/Bootstrap/addon/DataTable/DT_bootstrap.css', type='text/css', media='screen', charset='utf-8')    
    link(rel='stylesheet', href='css/snippetStyle.css', type='text/css', media='screen', charset='utf-8')         
    script(type='text/javascript', charset='utf-8', src='http://code.jquery.com/jquery-2.0.0.min.js')              
    script(type='text/javascript', charset='utf-8', src='thirdparty/Bootstrap/js/bootstrap.min.js')        
    script(type='text/javascript', charset='utf-8', src='http://documentcloud.github.com/underscore/underscore-min.js')           
  body(style='overflow: hidden;')
    .container-fluid
      // Info Bar 
      .navbar
        .navbar-inner
          .container            
            div#dialog.modal.hide.fade
              //- form
              div.modal-header
              div.modal-body
              div.modal-footer
            div#idleDialog.modal.hide.fade
              //- form
              div.idle.modal-header
              div.idle.modal-body
              div.idle.modal-footer
            div
              ul.nav
                li#menuFile.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='JavaScript:void(0);')
                    | File
                    b.caret
                  ul.dropdown-menu
                    li                    
                      a(href='JavaScript:void(0);', data-action='editor-new-project')
                        i.icon-list-alt
                        | New Project
                    li
                      a(href='JavaScript:void(0);', data-action='editor-open-project')
                        i.icon-list-alt
                        | Open Project
                    li.divider
                    li
                      a(href='JavaScript:void(0);', data-action='editor-close-project') Close Project                    
                    li.divider
                    li
                      a(href='JavaScript:void(0);', data-action='editor-save-document') Save                                        
                    li.divider
                    li
                      a(href='JavaScript:void(0);', data-action='editor-exit') Exit
                li#menuEdit.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#menuEidt')
                    | Edit
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='JavaScript:void(0);', data-action='editor-cut-selected-code') Cut
                    li
                      a(href='JavaScript:void(0);', data-action='editor-copy-selected-code') Copy
                    li
                      a(href='JavaScript:void(0);', data-action='editor-paste-code') Paste
                    li.divider
                    li
                      a(href='JavaScript:void(0);', data-action='editor-undo')
                        i.icon-arrow-left
                        | Undo
                    li
                      a(href='JavaScript:void(0);', data-action='editor-redo')
                        i.icon-arrow-right
                        | Redo
                    li.divider
                    li
                      a(href='JavaScript:void(0);', data-action='editor-delete-selected')
                        i.icon-remove
                        | Delete
                    li
                      a(href='JavaScript:void(0);', data-action='editor-select-all') Select All
                    li.divider
                    li
                      a(href='JavaScript:void(0);', data-action='editor-document-refresh')
                        i.icon-refresh
                        | Refresh
                    li.divider
                    li
                      a(href='JavaScript:void(0);', data-action='editor-find')
                        i.icon-search
                        | Find
                    li
                      a(href='JavaScript:void(0);', data-action='editor-find-next') Find Next
                    li
                      a(href='JavaScript:void(0);', data-action='editor-find-previous') Find Previous
                    li
                      a(href='JavaScript:void(0);', data-action='editor-find-replace') Replace...                    
                li#menuView.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#menuView')
                    | View
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='JavaScript:void(0);', data-action='editor-zoom-in')
                        i.icon-zoom-in
                        | Zoom In
                    li
                      a(href='JavaScript:void(0);', data-action='editor-zoom-out')
                        i.icon-zoom-out
                        | Zoom Out
                    li
                      a(href='JavaScript:void(0);', data-action='editor-zoom-out') Actual Size                        
                    li.divider
                    li
                      a(href='JavaScript:void(0);', data-action="editor-enter-fullscreen")
                        i.icon-fullscreen
                        | Enter Full Screen
                li#menuCode.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#menuCode')
                    | Code
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='JavaScript:void(0);', data-action='editor-comment-selected') Comment Selected
                    li
                      a(href='JavaScript:void(0);', data-action='editor-uncomment-selected') Uncomment Selected
                    li
                      a(href='JavaScript:void(0);', data-action='editor-format-selected-code')
                        i.icon-th-list
                        | Format
                    li.divider
                    li
                      a(href='JavaScript:void(0);', data-action='editor-check-quality')
                        i.icon-question-sign
                        | Check Quality
                    li.divider
                    li
                      a(href='JavaScript:void(0);', data-action='editor-share-code')
                        i.icon-share
                        | Share
                li#menuChat.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#menuChat')
                    | Chat
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='JavaScript:void(0);', data-action='editor-videochat') Video Chat
                li#menuHelp.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#menuHelp')
                    | Help
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='JavaScript:void(0);', data-action='editor-show-about')
                        i.icon-info-sign
                        | About                                    
      .row-fluid        
        #editor-area.span8
          ul.breadcrumb
            li
              a(href='#')            
          textarea#home.tab-pane.fade(disabled='disabled')
        #right-items.span2
          #bookmarksArea.bookmarks      
      div#video-chat.modal.hide.fade(data-backdrop="static")              
              div.modal-header
              div.modal-body
              div.modal-footer
      div#chatbox.chatbox
      audio#chatAlert(src='/img/gtalk1.wav', style='display:none')                
    script(type='text/javascript', charset='utf-8', src='http://nornagon.github.com/thistle/thistle.js')                              
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/lib/codemirror.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/Emmet/emmet.min.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/edit/closetag.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/edit/matchbrackets.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/hint/show-hint.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/hint/javascript-hint.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/hint/html-hint.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/dialog/dialog.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/search/searchcursor.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/search/search.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/edit/closebrackets.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/xml/xml.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/javascript/javascript.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/css/css.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/htmlmixed/htmlmixed.js')
    //script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/inlet.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/Noty/jquery.noty.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/Noty/layouts/top.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/Noty/layouts/bottomLeft.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/Noty/themes/default.js')    
    script(type='text/javascript', src='/channel/bcsocket.js')
    script(type='text/javascript', src='/share/share.js')    
    script(type='text/javascript', src='/share/cm.js')
    script(type='text/javascript', src='thirdparty/Bootstrap/addon/DataTable/jquery.dataTables.js')
    script(type='text/javascript', src='thirdparty/Bootstrap/addon/DataTable/DT_bootstrap.js')        
    script(type='text/javascript', src='thirdparty/uuid/uuid.js')
    script(type='text/javascript', src='js/snippetCode.js')    

