!!! 5
html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title
      | Jimbo
    link(rel='icon', href='img/icon.png')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/Bootstrap/css/bootstrap.min.css', type='text/css', media='screen', charset='utf-8')       
    link(rel='stylesheet', href='thirdparty/Bootstrap/Themes/charisma/css/bootstrap-spacelab.css', type='text/css', media='screen', charset='utf-8')                        
    link(rel='stylesheet', href='thirdparty/Bootstrap/Themes/charisma/css/opa-icons.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/bootstrap-editable/css/bootstrap-editable.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/colorpicker/Color.Picker.Classic.css', type='text/css', media='screen', charset='utf-8')    
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/lib/codemirror.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/addon/hint/show-hint.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/addon/dialog/dialog.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/theme/solarized.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/CodeMirrorEditor/addon/lint/lint.css', type='text/css', media='screen', charset='utf-8')                       
    link(rel='stylesheet', href='thirdparty/Bootstrap/addon/DataTable/DT_bootstrap.css', type='text/css', media='screen', charset='utf-8')            
    link(rel='stylesheet', href='css/snippetStyle.css', type='text/css', media='screen', charset='utf-8')         
    script(type='text/javascript', charset='utf-8', src='http://code.jquery.com/jquery-2.0.0.min.js')
    script(type='text/javascript', charset='utf-8', src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')                  
    script(type='text/javascript', charset='utf-8', src='thirdparty/Bootstrap/js/bootstrap.min.js')               
    script(type='text/javascript', charset='utf-8', src='http://d3js.org/d3.v3.min.js')        
    script(type='text/javascript', charset='utf-8', src='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/bootstrap-editable/js/bootstrap-editable.min.js')                      
  body(style='overflow: hidden;')
    .container-fluid
      .navbar
        .navbar-inner
          a.brand(href='JavaScript:void(0);', muse_scanned='true')
            img(src='../img/icon.png', style='width:20px; height:20px;')
            |      Jimbo
          #dialog.modal.hide.fade          
              div.modal-header
              div.modal-body
              div.modal-footer  
          .nav
            .btn-group              
              button.btn.btn-warning Libraries
                span.caret                   
              ul.dropdown-menu
                li
                  a(data-libName='d3', href='#') D3
                li                  
                  a(data-libName='raphael', href='#') Raphael
                li
                  a(data-libName='gchart', href='#') Google Charts
                li.divider
                li
                  a(data-libName='jquery', href='#') Jquery
                li
                  a(data-libName='underscore', href='#') Underscore                                                                                                                                                                            
          .nav.pull-right            
            a.label#usernameBadge(data-original-title="Edit your username") Anonymous              
            a.badge.badge-warning#snippetnameBadge(data-original-title="Edit your snippet name", style="margin-left: 5px") Not assigned                
            a.btn.btn-small.btn-warning#shareButton(data-action='shareButton')
              i.icon-share                          
      .row-fluid        
        .span12                          
          #previewArea.span6
            img.pin(src="../img/pin.png")
            .box
              iframe#previewFrame(src='js/templates/preview.html')
            .chatIcon.icon32.icon-green.icon-messages
              .notification.badge.badge-warning 0
            .chatBox              
              a#chatHide.close &times
              .chatMessages
              .chatInput
                input(type='text', placeholder='Type your messages here')
          #editorArea.span6            
            .box
              .tabbable
                ul.nav.nav-tabs#editorTabs
                  li.active(data-id='htmlTab')
                    a(href='#htmlContent', data-toggle='tab') HTML
                      .notifTab.badge.badge-warning 0
                  li(data-id='jsTab')
                    a(href='#jsContent', data-toggle='tab') JS
                      .notifTab.badge.badge-warning 0
                  li(data-id='cssTab')
                    a(href='#cssContent', data-toggle='tab') CSS
                      .notifTab.badge.badge-warning 0
                  li(data-id='jsonTab')
                    a(href='#jsonContent', data-toggle='tab') JSON
                      .notifTab.badge.badge-warning 0
                .tab-content
                  #htmlContent.tab-pane.active
                    textarea#htmlEditor(disabled)
                  #jsContent.tab-pane
                    textarea#jsEditor(disabled)
                  #cssContent.tab-pane
                    textarea#cssEditor(disabled)
                  #jsonContent.tab-pane
                    textarea#jsonEditor(disabled)
                    //.dropZone#dropZone
                  .gutterIconUp
                    img(src="../img/userIcon.png", style="margin-left:1px;")
                  .gutterIconDown
                    img(src="../img/userIcon.png", style="margin-left:1px;")
            img.pen(src="../img/pen.png")    
    //script(type='text/javascript', charset='utf-8', src='thirdparty/colorpicker/Color.Picker.Classic.js')
    //script(type='text/javascript', charset='utf-8', src='thirdparty/colorpicker/Color.Space.js')
    script(type='text/javascript', charset='utf-8', src='http://nornagon.github.com/thistle/thistle.js')                                              
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/lib/codemirror.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/Emmet/emmet.min.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/edit/closetag.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/edit/matchbrackets.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/hint/show-hint.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/hint/javascript-hint.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/hint/html-hint.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/dialog/dialog.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/search/searchcursor.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/search/search.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/edit/closebrackets.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/xml/xml.js')        
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/javascript/javascript.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/css/css.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/mode/htmlmixed/htmlmixed.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/inlet.js')
    script(type='text/javascript', charset='utf-8', src='http://ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/lint/lint.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/lint/javascript-lint.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/CodeMirrorEditor/addon/lint/json-lint.js')            
    script(type='text/javascript', charset='utf-8', src='thirdparty/Noty/jquery.noty.js')    
    script(type='text/javascript', charset='utf-8', src='thirdparty/Noty/layouts/bottomLeft.js')
    script(type='text/javascript', charset='utf-8', src='thirdparty/Noty/themes/default.js')    
    script(type='text/javascript', src='/channel/bcsocket.js')
    script(type='text/javascript', src='/share/share.uncompressed.js')    
    script(type='text/javascript', src='/share/cm.js')
    script(type='text/javascript', src='thirdparty/Bootstrap/addon/DataTable/jquery.dataTables.js')
    script(type='text/javascript', src='thirdparty/Bootstrap/addon/DataTable/DT_bootstrap.js')        
    script(type='text/javascript', src='thirdparty/uuid/uuid.js')
    script(type='text/javascript', src='js/snippetCode.js')    

