doctype html
html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title
      | Jimbo Code Review
    link(rel='icon', href='img/icon.png')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='thirdparty/Bootstrap/css/bootstrap.min.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='css/snippetStyle.css', type='text/css', media='screen', charset='utf-8')
  body(style='overflow: hidden;')
    .navbar
      .navbar-inner
        a.brand(href='JavaScript:void(0);', muse_scanned='true')
          img(src='../img/icon.png', style='width:20px; height:20px;')
          |      Jimbo
        .nav.pull-right
    .container.
      .row-fluid
        h2.alert-danger #{title}
        .span12
          .span4
            img(src="#{user.avatar}", style="width:128px;height:128px;")
          .span4
            h2 Dear #{user.displayName}
